<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Zallet</title>
</head>
<body>
        <header>
            <span><a href="/">Home</a></span>
            <span><a href="#">Personal</a></span>
            <span><a href="#">Business</a></span>
        </header>
        {{{body}}}
        <footer>
            <p>Copyright@JerryPan</p>
        </footer>
</body>
</html>